<h1>Send Log</h1>
<p><strong>To:</strong> <%= @log.recipient_email %></p>
<p><strong>Template:</strong> <%= @log.email_template&.name %></p>
<p><strong>Subject:</strong> <%= @log.subject %></p>
<hr/>
<div><%= @log.body.html_safe %></div>
